* {
    /*border: 1px solid red;*/
}

/* Cover styling */

.cover {
    width: 100%;
    height: 500px;
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cover-story {
    margin: 4px;
    background-color: blueviolet;
}

.main-cover-story {
    grid-row: 1/span 2;
}

@media screen and (max-width: 750px) {
    .cover {
        height: 775px;
        display: block;
    }

    .cover-story {
        height: 250px;
    }
}

/* Main content styling */

.main-content-wrapper {
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
}

/* Latest news styling */
.latest-news-grid-wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    gap: 10px;
}

.latest-news-element {
    background: blueviolet;
    max-width: 270px;
    height: 227px;
}

@media screen and (max-width: 1000px) {
    .latest-news-grid-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
    }

    .latest-news-element {
        height: 221px;
        max-width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .latest-news-grid-wrapper {
        display: block;
    }

    .latest-news-element{
        max-width: 750px;
        height: 72px;
        margin-bottom: 10px;
    }
}

/* funding styling */

.funding-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.funding-element {
    background-color: blueviolet;
    max-width: 270px;
    height: 270px;
}

@media screen and (max-width: 1000px) {
    .funding-grid-wrapper{
        grid-template-columns: 1fr 1fr 1fr; 
    }

    .funding-element {
        height: 221px;
        max-width: 100%;
    }

    .last-funding-element {
        display: none;
    }

}

@media screen and (max-width: 750px) {
    .funding-grid-wrapper {
        display: block;
    }

    .funding-element {
        max-width: 750px;
        height: 230px;
        margin-bottom: 10px;
    }
}

/* subheadings styling */
.subheadings-wrapper{
    padding-top: 60px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.subheadings-element{
    background-color: blueviolet;
    max-width:368px;
    height: 633px;
}

@media screen and (max-width: 1000px) {
    .subheadings-wrapper{
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .subheadings-element {
        max-width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .subheadings-wrapper {
        display: block;
    }

    .subheadings-element {
        margin-bottom: 10px;
        height: 750px;
        max-width: 750px;
    }
}

/* deals styling */
.deals-grid-wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.deals-element{
    background-color: blueviolet;
    max-width: 270px;
    height: 275px;
}

@media screen and (max-width: 1000px) {
    .deals-grid-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
    }

    .deals-element {
        height: 300px;
        max-width: 100%;
    }
}

@media screen and (max-width: 750px) {

    .deals-grid-wrapper {
        display: block;
    }

    .deals-element{
        max-width: 750px;
        height: 72px;
        margin-bottom: 10px;
    }
}
/* Text styling */

.right-floated-heading {
    float: right;
}

@media screen and (max-width: 1000px) {
    .right-floated-heading{
        display: none;
    }
}